<!doctype html>
<html lang="es"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{administrador.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link  rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>Usuarios</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="contenidot">
            
<div class="col py-3">
    <h1>Usuarios</h1>
    

    <div class="card-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th >ID</th>
                <th>Nombre de usuario</th>
                <th>Rol</th>
                <th>Opciones</th>
    
            </tr>
            </thead>
            <tbody>
            <tr th:each="usuario : ${usuarios}" >
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.username}"></td>
                <!-- <td th:each="rol: ${usuario.roles}"
                th:text="${rol.rolNombre}"></td> -->
                <td th:text="${usuario.roles}"></td>
                <td><a type="button" class="btn btn-primary" title="Editar" th:href="@{/admin-usuarios/edit/{id} (id=${usuario.id}) }">
                    <i class="fas fa-edit"></i>
                </a> 
                <a th:href="@{/admin-usuarios/delete/} + ${usuario.id}" style="text-decoration:none">
                    <button class="btn btn-danger" title="Eliminar Usuario"><i class="fas fa-trash"></i></button>
                </a> 
            
            </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

        </div>
    </div>        



</body>
</html>
