<!doctype html>
<html lang="es"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{administrador.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link  rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>Panel de administración</title>
</head>
<body>


    <div layout:fragment="content">
        <div class="contenidot">
        <div class="col py-3">
        <h1>Categorias</h1>
        <a class="btn btn-success" th:href="@{admin-categorias/crear}" > Crear Categoria</a>

        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr >
                    <th >ID</th>
                    <th >Nombre</th>
                    <th >Descripcion</th>
                    <th >Opciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="categoria : ${categorias}">
                    <td   th:text="${categoria.id}" ></td>
                    <td  th:text="${categoria.nombre}"></td>
                    <td th:text="${categoria.descripcion}"></td>
                    <td  ><a th:onclick="eliminar([[${categoria.id}]])" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        <!-- Button trigger modal -->
                        <button  type="button" class="btn btn-primary" data-bs-toggle="modal"
                                  th:attr="data-bs-target='#exampleModal'+*{categoria.id}">
                                  <i class="fas fa-edit"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" th:id="*{'exampleModal'+{categoria.id}}"   tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Editar categoria</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{admin-categorias/update}"  method="post">
                                            <div class="mb-3">
                                                <label for="id" class="form-label">id</label>
                                                <input type="number" class="form-control" id="id" name="id" th:value="${categoria.id}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="nombre" class="form-label">Nombre</label>
                                                <input type="text" class="form-control" id="nombre" name="nombre" th:value="${categoria.nombre}" >
                                            </div>
                                            <div class="mb-3">
                                                <label for="descripcion" class="form-label">Descripción</label>
                                                <input type="text" class="form-control" id="descripcion" name="descripcion"
                                                       th:value="${categoria.descripcion}">
                                            </div>
                                            <button type="submit" id="boton" class="btn btn-primary">Guardar cambios</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </td>

                </tr>
                </tbody>
            </table>
        </div>
     </div>
    </div>
    </div>




</body>
</html>