
h1{
    font-size: 80px;
    text-align: center;
}

#boton{
    margin-left: 150px;
}

.navbar{
    background-color: black;
    color: #fff;
    font-size: 19px;
}

.userdropwdown{ 
   padding-left: 54em;
}


.card{
    margin-right: 20px; 
    background-color: #ecebeb;

}

#botonsubmit{
    padding:   0.6rem 9.5rem;
}


