<!doctype html>
<html lang="es"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link  rel="stylesheet" th:href="@{/css/style.css}">
    <title>Document</title>
</head>
<body>

<!-- Navigation -->
<div th:include="admin/template-admin.html ::header"></div >

    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        
                        <li>
                            <a  th:href="@{/admin-posts}" class="nav-link px-0 align-middle">
                                <i class="far fa-newspaper"></i>  Posts</a>
                        </li>
                        <li>
                            <a  th:href="@{/admin-categorias}" class="nav-link px-0 align-middle">
                                <i class="far fa-folder"></i>   Categorias</a>
                        </li>
                        <li>
                            <a th:href="@{/admin-usuarios}" class="nav-link px-0 align-middle ">
                                <i class="fas fa-users"></i>  Usuarios</a>
                        </li>
                        <li>
                            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
                            <button class="nav-link px-0 align-middle" type="submit">
                                <i class="fas fa-door-open"></i> Salir</button>
                            </form>    
                        </li>
    
                    </ul>
                    <hr>
                </div>
            </div>
            <div layout:fragment="content">
         
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/funciones.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script>
    $('#summernote').summernote({
        placeholder: 'Texto *',
        tabsize: 2,
        height: 300
    });
</script>


</body>
</html>



