<!doctype html>
<html lang="es"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{administrador.html}">



<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link  rel="stylesheet" th:href="@{/css/style.css}">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>



    <title>Crear Post</title>
</head>
<body>

    <div layout:fragment="content">
        <div class="col py-6 pl-4">
            <h1>Crear Post</h1>
            <div class="justify-content-center align-items-center container ">
                <div class="row">
                    <form th:action="@{admin-posts/crear/save}"  method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="titulo" class="form-label">Titulo</label>
                            <input type="text" class="form-control" id="titulo" name="titulo" >
                        </div>
                        <div class="mb-3">
                            <textarea id="summernote" name="contenido"  placeholder="Texto *"></textarea>
                        </div>
                        <div class="mb-3">
                                <label >Imagen </label>
                                <input type="file" name="file" class="form-control" />
                        </div>
        
                        <div class="mb-3">
                            <label class="col-form-label col-sm-4">Categoria : </label>
                        <select  class="form-control" name="categoria" required>
                            <th:block th:each="categoria : ${listaCategorias}">
                                <option th:text="${categoria.nombre}" th:value="${categoria.id}"></option>
                            </th:block>
                        </select>
                        </div>
        
        
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
     
    </div>





</body>
</html>

