<!doctype html>
<html lang="es" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link  rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>Posts</title>
</head>
<body>

<!-- Navigation -->
<div th:include="admin/template-admin.html ::header"></div >


<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">

                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a  th:href="@{posts}" class="nav-link px-0 align-middle">
                            <i class="far fa-newspaper"></i>  Posts</a>
                    </li>
                    <li>
                        <a  th:href="@{categorias}" class="nav-link px-0 align-middle">
                            <i class="far fa-folder"></i>   Categorias</a>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fas fa-users"></i>  Usuarios</a>
                    </li>
                    <li>
                        <a href="#" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fas fa-door-open"></i> Salir</a>
                    </li>

                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3">
            <h1>Lista de posts</h1>
            <a class="btn btn-success" th:href="@{posts/crear}" > Crear Posts</a>

            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Fecha de creación</th>
                        <th>Autor</th>
                        <th>Categoria</th>
                        <th>Imagen</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="post : ${posts}">
                        <td th:text="${post.id}"></td>
                        <td th:text="${post.titulo}"></td>
                        <td th:text="${post.fecha}"></td>
                        <td th:text="${post.usuario.nombre}"></td>
                        <td th:text="${post.categoria.nombre}"></td>
                        <td><img th:src="@{'/uploads/'+${post.imagen}}" width="100"/></td>
                        <td><a type="button" class="btn btn-primary" th:href="@{posts/edit/{id} (id=${post.id}) }">
                            Editar
                        </a>

                            <a th:onclick="eliminarPost([[${post.id}]])" class="btn btn-danger">Eliminar</a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/funciones.js"></script>
</body>
</html>